@import "themes.scss";
@import "variables&mixins.scss";

.app-container {
  height:100%;
  @include color("primary");
  @include background-color("background");
  // color:orange;
  // background-color:yellow;
  // @include addTheme($themes) {
  //   color: themed('primary');
  //   background-color: themed('background');
  // }
  // button{
  //   @include button
  // }
  .header{
    @include heading;
    border:1px solid green;
    height:100px;
  }
}
