@import "themes.scss";
@import "variables&mixins.scss";

.app-container {
  min-height: 100vh;
  position: relative;
  @include themify {
    background-color: $background;
  }

  .header {
    height: 100px;
    @include themify {
      background: linear-gradient($primary-dark, $primary);
      color: $highlight-light;

      @include heading;
    }
  }
  .theme-setter {
    padding: 0.25em;
    font-size: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &.light {
      @include themify {
        border-bottom: 1px solid $highlight;
        background-color: $highlight-light;
        background: linear-gradient($background, $highlight-light);
        color: $primary;
      }
    }
    &.dark {
      border: 1px solid rex;
      @include themify {
        background: linear-gradient($highlight-light, $background);
      }
    }
    .title {
      border: 1px solid transparent;
      padding-right: 0.5em;
      @media (max-width: 400px) {
        display: none;
      }
    }
    .theme-btn {
      border: 1px solid transparent;
      font-size: inherit;
      color: inherit;
      background: transparent;
      outline: none;
      border: none;
    }
    .selected {
      @include themify {
        border: 1px solid $primary;
      }
    }
  }
  .info-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 500px) {
      flex-direction: column;
      padding: 1em;
      min-height: 115px;
    }
    .game-stats {
      font-size: 1.25em;
      padding: 1em;
      @include themify {
        color: $primary;
      }
      @media (max-width: 1024px) {
        font-size: 1em;
      }
      @media (max-width: 500px) {
        padding: 0.1em;
      }
      .label {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
  .not-started {
    height: 85%;
    button {
      @include action-button;
    }
  }
  footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include themify {
      background: linear-gradient($primary-dark, $primary);
      color: $highlight-light;
    }
  }
}
