@import "themes.scss";
@import "variables&mixins.scss";

.card-container {
  overflow:hidden;
  padding: 1em;
  display: inline-grid;
  margin: auto ;
  max-width:90vw;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 1fr;
  &.extended{
    grid-template-columns: repeat(5, min-content);
  }
  &.extended-twice {
    grid-template-columns: repeat(6, min-content);

  }
  @media (max-width: 600px) {
    width: 95vw;
  }
  grid-gap: 1em;
}

.add-cards,.end-game{
  @include action-button;
}
