@import "themes.scss";
@import "variables&mixins.scss";

.instructions{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align:center;
  width:70ch;
  font-size:1.25em;
  line-height:1.5em;
  margin:auto;
  max-width:95%;
  @media(max-width:800px){
    text-align:justify;
  }
  
  // @include themify{
  //   color:$primary-dark;
  // }
  .title{
    font-size:1.5em;
    padding:.5em;
  }
  .title,.example,.label{
    font-weight:bold;
    // @include themify{
    //   color:$primary;
    // }
  }
  .example{
    text-align: left;
    margin:auto;
  }
}

.examples {
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:.5em;
  // display: flex;
  // align-items:center;
  @media(max-width:800px){
    grid-gap:.25em;
  }
  .card {
    @include box-shadow;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5em;
    height: auto;
    width: auto;
    @media (max-width: 1024px) {
      padding: 1.25em;
    }
    @media (max-width: 800px) {
      padding: 1em;
    }

    @media (max-width: 600px) {
      padding: 0.5em;
    }
    @include themify {
      background-color: $card-bg;
    }
    .card-wrapper{
      @include small-card;
      @media(max-width:600px){
        @include tiny-card;
      }
    }
  }
}
