@import "themes.scss";
@import "variables&mixins.scss";


.matches-container{
  // padding bottom to account for footer
  padding-bottom:150px;
  width:100%;
  text-align:center;
}

.matches-btn{
  @include small-button;
  margin:.5em;
}
.matches-title{
  text-align:left;
  font-weight:bold;
  padding-top:1em;
  padding-left:1em;
}

.matches {
  display: flex;
  align-items: flex-start;
  margin: auto;
  flex-wrap:wrap;
  padding: 1em;
  // justify-content: space-evenly;
  .match {
    padding:10px 5px;
 
    @media(max-width:600px){
      padding:5px 0;
    }
    .match-card-container {
      margin:5px;
      width: auto;
      border-radius: 5px;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      padding: .75em;
      
      @include themify {
        background-color: $card-bg;
      }
      // @media(max-width:600px) {
      //   padding:.25em;
      // }
      .card-wrapper {
        @include small-card(true);
        @media(max-width:800px){
          @include tiny-card(true);
        }
      }
    }
  }
}
