//$border-rad should be %50%/30% or 30%/50% for rotate
@mixin oval($width, $height, $border-rad: #{50%/30%}, $bg-degs: 0deg) {
  width: $width;
  height: $height;
  border-radius: $border-rad;
  @include color-helper($bg-degs);
}
// the curved shape
@mixin another-shape($width, $height, $border-rad: 0 90%, $bg-degs: 0deg) {
  width: $width;
  height: $height;
  border-radius: $border-rad;
  @include color-helper($bg-degs);
}
// wide diamond
@mixin rotate-diamond($double-width, $double-height) {
  $width: $double-width/2;
  $height: $double-height/2;
  width: 0;
  height: 0;
  border: $height solid transparent;
  position: relative;
  left: $width * 0.75;
  // top:
  &:after {
    content: "";
    position: absolute;
    right: $height * 2;
    top: -$height;
    width: 0;
    height: 0;
    border: $height solid transparent;
  }
  @include diamond-color-helper($height, $width, true);
}
// tall diamond
@mixin diamond($double-width, $double-height) {
  $width: $double-width/2;
  $height: $double-height/2;
  width: 0;
  height: 0;
  border: $width solid transparent;
  position: relative;
  top: -$double-height/2;
  &:after {
    content: "";
    position: absolute;
    left: -$width;
    top: $height;
    width: 0;
    height: 0;
    border: $width solid transparent;
  }
  @include diamond-color-helper($width, $height);
}

// used to create smaller triangle for tall diamond on top of larger triangle for shading-2 where only the border is colored
@mixin small-diamond($half-width, $half-height) {
  z-index: 10;
  width: 0;
  height: 0;
  border: $half-width - 2px solid transparent;
  position: relative;
  top: -($half-width - 6px);
  left: -($half-width - 2px);
  &:after {
    content: "";
    z-index: 11;
    position: absolute;
    left: -($half-width - 2px);
    top: $half-height - 4px;
    width: 0;
    height: 0;
    border: $half-width - 2px solid transparent;
  }
}

// used to create shading on rotated(wide) diamonds
@mixin rotate-small-diamond($half-width, $half-height) {
  z-index: 10;
  width: 0;
  height: 0;
  position: relative;
  border: $half-height - 2px solid transparent;
  top: -$half-height + 2px;
  left: -$half-width;
  &:after {
    content: "";
    z-index: 11;
    position: absolute;
    width: 0;
    height: 0;
    border: $half-height - 2px solid transparent;
    right: $half-width - 4px;
    top: -($half-height - 2px);
  }
}
// arguments are for border names. For rotated diamond, values should be $name-1=left, $name-2=right
@mixin diamond-color-helper($width, $height, $rotate: false) {
  $name-1: bottom;
  $name-2: top;
  $mixin-name: small-diamond;
  @if $rotate {
    $name-1: left;
    $name-2: right;
    $mixin-name: rotate-small-diamond;
  }

  &.color-0 {
    @include themify {
      border-#{$name-1}: $height solid $primary;
      &:after {
        border-#{$name-2}: $height solid $primary;
      }
    }
  }
  &.color-1 {
    @include themify {
      border-#{$name-1}: $height solid $accent;
      &:after {
        border-#{$name-2}: $height solid $accent;
      }
    }
  }
  &.color-2 {
    @include themify {
      border-#{$name-1}: $height solid $highlight;
      &:after {
        border-#{$name-2}: $height solid $highlight;
      }
    }
  }
  &.shading-2 {
    .inner {
      @if not $rotate {
        @include small-diamond($width, $height);
      } @else {
        @include rotate-small-diamond($height, $width);
      }
      @include themify {
        border-#{$name-1}: $height - 4px solid $card-bg;
        &:after {
          border-#{$name-2}: $height - 4px solid $card-bg;
        }
      }
    }
  }
  &.shading-1 {
    .inner {
      @if not $rotate {
        @include small-diamond($width, $height);
      } @else {
        @include rotate-small-diamond($height, $width);
      }
      @include themify {
        border-#{$name-1}: $height - 4px solid $card-bg;
      }
      &:after {
        border-#{$name-2}: $height - 4px solid transparent;
      }
    }
  }
}

@mixin color-helper($bg-degs) {
  &.color-0 {
    @include themify {
      border: 2px solid $primary;
      background: $primary;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient($bg-degs, $primary 50%, $card-bg 50%);
      }
    }
  }
  &.color-1 {
    @include themify {
      border: 2px solid $accent;
      background: $accent;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient($bg-degs, $accent 50%, $card-bg 50%);
      }
    }
  }
  &.color-2 {
    @include themify {
      border: 2px solid $highlight;
      background: $highlight;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          $bg-degs,
          $highlight 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.shading-2 {
    @include themify {
      background: $card-bg;
    }
  }
}
