@import "themes.scss";

@mixin heading {
  font-size: 2em;
  padding: 1em;
  font-weight: bold;
}

@mixin large-card {
  @include card($padding:1em, $margin:.5em,$width:70px, $height:150px, )
}
@mixin medium-card{
  @include card($padding:1em, $margin:.3em,$width:55px, $height:110px, )
}
@mixin small-card{
  @include card($padding:.5em, $margin:.2em,$width:35px, $height:70px, )
}

@mixin tiny-card{
  @include card($padding:2px, $margin:1px,$width:10px, $height:20px, )
}

// $padding= card padding, $margin= around each shape, $width=width of shape in px, $height = height of shape in px
@mixin card($padding,$margin, $width, $height) {
  display: flex;
  flex-direction: row;
  padding: $padding;
  justify-content: space-around;
  .shape-0 {
    margin: $margin;
    @include diamond($width / 2, $height / 2);
  }
  .shape-1 {
    margin: $margin;
    @include oval($width, $height);
  }
  .shape-2 {
      margin: $margin;
    @include another-shape($width, $height);
  }
}
@mixin diamond($half-width, $half-height) {
  width: 0;
  height: 0;
  border: $half-width solid transparent;
  position: relative;
  top: -$half-height;

  &:after {
    content: "";
    position: absolute;
    left: -$half-width;
    top: $half-height;
    width: 0;
    height: 0;
    border: $half-width solid transparent;
  }
  &.color-0 {
    @include themify {
      border-bottom: $half-height solid $primary;
      &:after {
        border-top: $half-height solid $primary;
      }
    }
  }
  &.color-1 {
    @include themify {
      border-bottom: $half-height solid $accent;
      &:after {
        border-top: $half-height solid $accent;
      }
    }
  }
  &.color-2 {
    @include themify {
      border-bottom: $half-height solid $highlight;
      &:after {
        border-top: $half-height solid $highlight;
      }
    }
  }
  &.shading-2 {
    .inner {
      @include small-diamond($half-width, $half-height);
      @include themify {
        border-bottom: $half-height - 4px solid $card-bg;
        &:after {
          border-top: $half-height - 4px solid $card-bg;
        }
      }
    }
  }
  &.shading-1 {
    .inner {
      @include small-diamond($half-width, $half-height);
      @include themify {
      border-bottom: $half-height - 4px solid $card-bg;
    }
        &:after {
          border-top: $half-height - 4px solid transparent;
        }
    }
  }
}

@mixin small-diamond ($half-width, $half-height) {
  z-index: 10;
  width: 0;
  height: 0;
  border: $half-width - 2px solid transparent;
  position: relative;
  top: -($half-width - 6px);
  left: -($half-width - 2px);
  &:after {
    content: "";
    z-index: 11;
    position: absolute;
    left: -($half-width - 2px);
    top: $half-height - 4px;
    width: 0;
    height: 0;
    border: $half-width - 2px solid transparent;
  }
}

@mixin oval($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%/30%;
  &.color-0 {
    @include themify {
      border: 2px solid $primary;
      background: $primary;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $primary 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.color-1 {
    @include themify {
      border: 2px solid $accent;
      background: $accent;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $accent 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.color-2 {
    @include themify {
      border: 2px solid $highlight;
      background: $highlight;
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $highlight 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.shading-2 {
    @include themify {
      background: $card-bg;
    }
  }
}

@mixin another-shape($width, $height) {
  width:$width,;
  height:$height;
  border-radius:0 90%;
  &.color-0{
    @include themify{
      background:$primary;
      border:2px solid $primary 
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $primary 50%,
          $card-bg 50%
        );
      }
    }
   
  }
  &.color-1 {
    @include themify{
      background:$accent;
      border:2px solid $accent 
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $accent 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.color-2 {
    @include themify{
      background:$highlight;
      border:2px solid $highlight 
    }
    &.shading-1 {
      @include themify {
        background-image: linear-gradient(
          0deg,
          $highlight 50%,
          $card-bg 50%
        );
      }
    }
  }
  &.shading-2 {
    @include themify{
      background: $card-bg;
    }
  }
}
