@import "themes.scss";
@import "shapes.scss";

@mixin heading {
  font-size: 2em;
  padding: 1em;
  font-weight: bold;
}

@mixin box-shadow {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@mixin xxl-card($rotate: false) {
  @include card($margin: 0.5em, $height: 150px, $rotate: $rotate);
}

@mixin xl-card($rotate: false) {
  @include card($margin: 0.4em, $height: 130px, $rotate: $rotate);
}

@mixin large-card($rotate: false) {
  @include card($margin: 0.3em, $height: 110px, $rotate: $rotate);
}
@mixin medium-card($rotate: false) {
  @include card($margin: 0.2em, $height: 70px, $rotate: $rotate);
}
@mixin small-card($rotate: false) {
  @include card($margin: 3px, $height: 50px, $rotate: $rotate);
}

@mixin tiny-card($rotate: false) {
  @include card($margin: 1px, $height: 30px, $rotate: $rotate);
}

@mixin large-button {
  @include action-button;
  width: 50%;
  @media (max-width: 800px) {
    width: 75%;
  }
  @media (max-width: 600px) {
    width: 95%;
  }
  display: block;
  margin: 1em auto;
}
// when there are 2 action buttons
@mixin two-button {
  @include action-button;
  @media (max-width: 800px) {
    font-size: 1em;
    border-radius: 0.25em;
    width: 40%;
  }
}
@mixin small-button {
  @include button-base;
  font-size: 1em;
  // @media (max-width: 800px) {
  //   font-size: 1em;
  //   border-radius: 0.25em;
   
  // }
}

@mixin action-button {
  @include button-base;
  @include raise;
  font-size: 2em;
  margin: 0.25em;
  @media (max-width: 1500px) {
    font-size: 1.5em;
    // border-radius: 0.25em;
  }
}

@mixin raise{
  transition: transform .2s ease-in;
  &:hover, &:focus{
    transform: translateY(-4px);
  }
}

@mixin button-base{
  @include raise;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
  @include themify {
    box-shadow: inset 0 0 3px $primary; 
    color: $primary;
    background-color: $highlight-lighter;
    border: 2px solid $primary;
  }
}

//$margin= around each shape, $height = long side of shape in px, $width refers to short side
@mixin card($margin, $height, $rotate) {
  $width: $height/2;
  @if $rotate {
    height: $height * 1.75;
    width: $height;
  } @else {
    width: $height * 1.75;
    height: $height;
  }
  .shape-wrapper {
    min-height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    @if $rotate {
      flex-direction: column;
    } @else {
      flex-direction: row;
    }
  }
  .shape-0,
  .shape-1 {
    @if $rotate {
      margin: $margin 0;
    } @else {
      margin: 0 $margin;
    }
  }

  .shape-0 {
    @if $rotate {
      @include rotate-diamond($height, $width);
    } @else {
      align-self: flex-end;
      @include diamond($width, $height);
    }
  }

  .shape-1 {
    @if $rotate {
      @include oval($height, $width, #{30%/50%}, 90deg);
    } @else {
      @include oval($width, $height);
    }
  }

  .shape-2 {
    @if $rotate {
      margin: $margin/2 0;
      @include another-shape($height, $width, 90% 0, 90deg);
    } @else {
      margin: 0 $margin/2;
      @include another-shape($width, $height);
    }
  }
}

